.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

button {
    margin-top: 20px;
}

.score-container {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}
